#editor {
  position: absolute;
  width: 50%;
  height: 50%;
}

#error-panel {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 49%;
}

#log-viewer {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
}